@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
.primary{
    background-color: rgb(53, 114, 122);
}
.header{
    text-align: center;
    color: rgb(52, 99, 110);
    font-weight: bolder;

}

.Title{
    font-family: 'Birthstone', cursive;
    font-size: 50px;
}
.focusName{
    font-family: 'Birthstone', cursive;
    font-size: 90px;

}
.thumb{
    color: red;
}